.btn {
    color: #fff;
    padding: 15px 50px;
    border-radius: 30px;
    text-transform: uppercase;
    display: block;
    min-width: 170px;
    text-align: center;
    border: 0;
    transition: $duration;
    &.green {
        background: $green-gradient;
    }
    &.orange {
        background: $orange-gradient;
    }
    &.small {
        // min-width: 120px;
        // padding: 8px 24px;
        // font-size: 14px;
        background: $green-gradient;
        color: #fff;
        padding: 7px 10px;
        border: none;
        border-radius: 30px;
        text-transform: uppercase;
        font-weight: 700;
        display: block;
        width: 100px;
        min-width: 100px;
        text-align: center;
        font-size: 12px;
        cursor: pointer;
        margin-left: auto;
        transition: $duration;
        &:hover {
            transform: scale(1.05);
        }
    }
}

.block-title {
    padding: 36px 0;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 36px;
    width: 100%;
}

.product-item {
    transition: $duration;
    box-shadow: 0;
    padding: 25px 10px 15px 10px;
    position: relative;
    background-color: #fff;
    &:hover {
        box-shadow: 3px 5.2px 20.3px 6.8px rgba(0, 4, 2, 0.08);
        z-index: 2;
    }
    &-label {
        color: #fff;
        position: absolute;
        left: 0;
        top: 16px;
        left: -16px;
        padding: 4px 16px;
        font-size: 14px;
        font-weight: 700;
        &.orange {
            background: $orange-gradient;
        }
        &.green {
            background: $green-gradient;
        }
    }
    &-info {
        padding-top: 16px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
    }
    &-title {
        font-size: 17px;
        font-weight: 700;
        margin-bottom: 12px;
        width: 100%;
    }
    &-descr {
        // padding-top: 12px;
        min-height: 90px;
        font-size: 12px;
        line-height: 17px;
        width: 100%;
        p {
            &:not(:last-child) {
                margin-bottom: 12px;
            }
        }
    }
    &-params {
        display: flex;
        align-items: baseline;
    }
    &-weight {
        font-size: 15px;
        margin-right: 10px;
        color: $grey;
    }
    &-price {
        font-size: 18px;
        margin-right: 10px;
        font-weight: 700;
        color: $orange;
        .old-price {
            font-weight: 400;
            color: $grey;
            text-decoration: line-through;
        }
        .current-price {
            font-weight: 700;
        }
        .currency {
            font-size: 12px;
        }
    }
    // &-add {
    // }
}

.loadmore {
    margin-top: 50px;
    display: flex;
    align-items: center;
    border: 2px solid $orange;
    border-radius: 25px;
    padding: 0px 15px;
    // height: 30px;
    height: 48px;
    font-size: 15px;
    font-weight: 700;
    color: $grey;
    transition: $duration;
    background-color: transparent;
    &:hover {
        background-color: #ff954e;
        color: #fff;
        .circle {
            border-color: #fff;
        }
    }
    .circle {
        width: 10px;
        height: 10px;
        display: block;
        border: 2px solid #ff954e;
        border-radius: 100%;
        margin-left: 15px;
        transition: $duration;
    }
}


.related-slider {

    &.swiper-container {
        overflow: hidden;
        position: relative;
        &::after {
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            width: 100px;
            background: linear-gradient(90deg, rgba(#fff,0) 0%, rgba(#fff,1) 100%);
            pointer-events: none;
            z-index: 2;
        }
    }

    .swiper-slide {
        width: $related-slide-width;
    }

    .product-item {
        padding: 0;
        &:hover {
            box-shadow: initial;
        }
    }

    .swiper-button {
        top: 88px;
    }
}

.swiper-button {
    z-index: 3;
    color: $orange;
    margin: 0;
    // top: 88px;
}

.swiper-pagination {
    position: relative;
    margin-top: 32px;
    bottom: 0;
    &-bullet {
        border-radius: 0;
        &-active {
            background: $orange;
        }
    }
}