.header {
    padding-top: 3px;
    padding-bottom: 3px;
    position: relative;
    z-index: 20;
    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;

    }
    .burger-btn {
        display: none;
        width: 28px;
        height: 20px;
        z-index: 2;
        position: relative;
        order: 99;
        @include mobile {
            display: block;
        }
        span {
            display: block;
            position: absolute;
            width: 100%;
            opacity: 1;
            left: 0;
            transform: rotate(0);
            transition: $duration;
            height: 3px;
            // background-color: $black;
            background-color: #fff;
            border: .5px solid $orange;
            &:nth-child(1) {
                top: 0;
            }
            &:nth-child(2),
            &:nth-child(3) {
                top: 8px;
            }
            &:nth-child(4) {
                top: 16px;
            }
        }
    }
    .logo {
        width: 20%;
        min-width: 80px;
        position: relative;
        z-index: 2;
        @include mobile {
            width: auto;
            order: 1;
        }
        a {
            display: block;
            width: 80px;
            @include mobile {
                width: 60px;
            }
        }
    }

    .collapsed {
        width: 80%;
        max-width: calc(100% - 80px);
        position: relative;
        z-index: 1;
        display: flex;
        align-items: center;
        @include mobile {
            width: 100%;
            max-width: 100%;
            position: fixed;
            top: -100vh;
            left: 0;
            right: 0;
            height: 100vh;
            z-index: 2;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            opacity: 0;
            pointer-events: none;
            background-color: #fff;
            transition: $duration;
        }
    }


    .menu {
        // display: flex;
        // align-items: center;
        // justify-content: center;
        width: 75%;
        flex-shrink: 0;
        @include mobile {
            width: 100%;
            // flex-direction: column;
        }
        ul {
            display: flex;
            align-items: center;
            list-style: none;
            justify-content: center;
            @include mobile {
                flex-direction: column;
            }
        }
        li {
            &:not(:last-child) {
                margin-right: 20px;
                @include mobile {
                    margin-right: 0;
                    margin-bottom: 16px;
                }
            }
        }
        a {
            padding-bottom: 3px;
            border-bottom: 2px solid transparent;
            transition: $duration;
            @include tablet {
                font-size: 14px;
            }
            @include mobile {
                font-size: 18px;
            }
            &:hover {
                border-color: $orange;
                color: $orange;
            }
            &.active {
                color: $orange;
                border-color: $orange;
            }
        }
    }

    .contacts {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        flex-shrink: 0;
        gap: 10px;
        width: 25%;
        @include mobile {
            margin-top: 48px;
            width: 100%;
            flex-direction: column;
            gap: 24px;
        }
        a {
            transition: $duration;
            display: flex;
            align-items: center;
            &:hover {
                color: $orange;
            }
        }
        img {
            &:not(:last-child) {
                margin-right: 10px;
            }
        }
    }

    .insta {
        img {
            width: 21px;
        }
    }
    .phone {
        img {
            width: 19px;
        }
    }

    .cart {
        position: fixed;
        width: 100%;
        max-width: 580px;
        top: 0;
        bottom: 0;
        right: -580px;
        background-color: #fff;
        transition: $duration;
        border-left: 1px solid transparent;
        z-index: 4;
        @include mobile {
            max-width: 100vw;
            right: -100vw;
            border: 0;
        }
        &.open {
            right: 0;
            border-color: rgba($grey, .5);
            .cart-btn {
                @include mobile {
                    left: 0;
                    right: initial;
                    top: 0;
                    bottom: initial;
                    width: 50px;
                    height: 50px;
                    background-color: #fff;
                    border: 1px solid $orange;
                    font-size: 0;
                    background: #fff;
                    border-radius: 0;
                    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8' standalone='no'%3F%3E%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.1' height='25' width='25'%3E%3Cg transform='translate(3.9661017,3.5677966)'%3E%3Cpath d='M -2.5783352e-4,-0.00146808 17.435473,18.212367' stroke='%23f16311' stroke-width='2' stroke-linecap='round'/%3E%3Cpath d='M -2.5783352e-4,18.212367 17.435473,-0.00146808' stroke='%23f16311' stroke-width='2' stroke-linecap='round'/%3E%3C/g%3E%3C/svg%3E%0A");
                    background-size: 36px;
                    background-position: center;
                    background-repeat: no-repeat;
                }
                img, span {
                    @include mobile {
                        display: none;
                    }
                }
            }
            .cart-inner {
                opacity: 1;
                pointer-events: auto;
            }
        }
        &-btn {
            background: linear-gradient(90deg, #ff954e, #ee5905);
            width: 80px;
            height: 80px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 100%;
            position: absolute;
            cursor: pointer;
            // top: 30%;
            top: 90%;
            right: calc(100% + 10px);
            @include mobile {
                top: initial;
                bottom: 16px;
                right: calc(100% + 16px);
                width: 60px;
                height: 60px;
            }
            img {
                max-width: 35px;
                height: auto;
                @include mobile {
                    max-width: 24px;
                }
            }
            span {
                position: absolute;
                right: 20px;
                bottom: 15px;
                display: flex;
                align-items: center;
                justify-content: center;
                background: #fff;
                width: 18px;
                height: 18px;
                border-radius: 100%;
                font-size: 12px;
                font-weight: 600;
                @include mobile {
                    right: 12px;
                    bottom: 8px;
                }
            }
        }
        &-inner {
            width: 100%;
            height: 100%;
            max-height: 100vh;
            overflow-y: auto;
            background-color: #fff;
            opacity: 0;
            pointer-events: none;
            transition: $duration;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            padding: 16px;
            @include mobile {
                padding: 0;
            }
        }
        // same as checkout
        // &-table {
        //     width: 100%;
        //     @include mobile {
        //         border-collapse: collapse;
        //     }

        //     th {
        //         background-color: rgba($orange, .1);
        //         height: 50px;
        //         // min-width: 200px;
        //         @include mobile {
        //             font-size: 14px;
        //         }
        //         &:first-child {
        //             @include mobile {
        //                 text-align: right;
        //             }
        //         }
        //     }
        //     td {
        //         padding: 16px 0;
        //         border-bottom: 1px solid rgba($grey, .5);
        //         @include mobile {
        //             padding-top: 12px;
        //             padding-bottom: 12px;
        //         }
        //         &:first-child {
        //             @include mobile {
        //                 // padding-left: 10px;
        //                 padding-left: $container-padding-x-mobile;
        //             }
        //         }
        //         &:last-child {
        //             @include mobile {
        //                 // padding-right: 10px;
        //                 padding-right: $container-padding-x-mobile;
        //             }
        //         }
        //     }
        // }

        // &-product-info {
        //     display: flex;
        //     align-items: center;
        //     @include mobile {
        //         flex-wrap: wrap;
        //         justify-content: flex-end;
        //         text-align: right;
        //     }
        //     button {
        //         width: 36px;
        //         height: 36px;
        //         margin-right: 16px;
        //         background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8' standalone='no'%3F%3E%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.1' height='25' width='25'%3E%3Cg transform='translate(3.9661017,3.5677966)'%3E%3Cpath d='M -2.5783352e-4,-0.00146808 17.435473,18.212367' stroke='%23f16311' stroke-width='2' stroke-linecap='round'/%3E%3Cpath d='M -2.5783352e-4,18.212367 17.435473,-0.00146808' stroke='%23f16311' stroke-width='2' stroke-linecap='round'/%3E%3C/g%3E%3C/svg%3E%0A");
        //         background-size: 30px;
        //         background-position: center;
        //         background-repeat: no-repeat;
        //         flex-shrink: 0;
        //         @include mobile {
        //             width: 24px;
        //             height: 24px;
        //             // margin-right: 8px;
        //             background-size: 24px;
        //         }
        //     }
        //     img {
        //         width: 80px;
        //         margin-right: 16px;
        //         @include mobile {
        //             // width: 60px;
        //             margin-right: 0;
        //         }
        //     }
        //     h3 {
        //         font-weight: 400;
        //         @include mobile {
        //             width: 100%;
        //             margin-top: 8px;
        //             font-size: 16px;
        //         }
        //     }
        // }
        // &-product-price {
        //     text-align: center;
        //     color: $orange;
        //     font-size: 18px;
        //     font-weight: 700;
        //     @include mobile {
        //         white-space: nowrap;
        //         padding: 0 $container-padding-x-mobile;
        //     }
        //     span {
        //         font-size: 12px;
        //     }
        // }

        // &-product-quantity {
        //     display: flex;
        //     align-items: center;
        //     justify-content: center;
        //     button {
        //         color: $orange;
        //         font-weight: 700;
        //         width: 36px;
        //         height: 36px;
        //         font-size: 24px;
        //         @include mobile {
        //             width: 30px;
        //             height: 30px;
        //         }
        //     }
        //     input {
        //         appearance: textfield;
        //         text-align: center;
        //         height: 36px;
        //         border: 0;
        //         border-bottom: 1px solid transparent;
        //         width: 50px;
        //         transition: $duration;
        //         font-size: 24px;
        //         @include mobile {
        //             font-size: 20px;
        //             // width: 24px;
        //         }
        //         &:focus {
        //             border-color: $orange;
        //         }
        //     }
        // }

        &-summary {
            width: 100%;
            // margin-top: 48px;
            // display: flex;
            // align-items: baseline;
            // justify-content: space-between;
            // background-color: rgba($orange, .1);
            // padding: 24px;
            // @include mobile {
            //     margin-left: -$container-padding-x-mobile;
            //     margin-right: -$container-padding-x-mobile;
            //     flex-direction: column;
            //     align-items: flex-end;
            //     padding: $container-padding-x-mobile;
            // }
        }

        // &-total {
        //     font-size: 24px;
        //     font-weight: 700;
        //     &:not(:only-child) {
        //         @include mobile {
        //             margin-top: 16px;
        //         }
        //     }
        //     span {
        //         color: $orange;
        //         margin-left: 10px;
        //     }
        // }
        // &-delivery-annotation {
        //     color: red;
        //     font-size: 18px;
        // }
        // end same as checkout

        &-proceed {
            margin-top: 16px;
            margin-left: auto;
            align-self: flex-end;
            @include mobile {
                width: 100%;
                margin-top: 0;
                border-radius: 0;
                height: 60px;
            }
        }

    }

}

.mobile-menu-open {
    @include mobile {
        height: 100vh;
        overflow: hidden;
    }
    .header {
        .collapsed {
            @include mobile {
                opacity: 1;
                pointer-events: auto;
                top: 0;
            }
        }
    }
    .burger-btn {
        span {
            &:nth-child(1) {
                top: 8px;
                width: 0%;
                left: 50%;
            }
            &:nth-child(2) {
                transform: rotate(45deg);
            }
            &:nth-child(3) {
                transform: rotate(-45deg);
            }
            &:nth-child(4) {
                top: 8px;
                width: 0%;
                left: 50%;
            }
        }
    }
}
